In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D://CodingNest//Kaggle//Projects//Bank-Marketing//bank.csv",sep=';')

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
df.shape

(4521, 17)

# EXPLORATORY ANALYSIS

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [6]:
# Distinct values available in column Housing
df_job_status_analysis.housing.unique()

NameError: name 'df_job_status_analysis' is not defined

In [ ]:
HousingLoan= pd.get_dummies(df['housing'],drop_first = True)
HousingLoan.rename(columns={'yes':'HousingLoan'},inplace =True)

In [ ]:
# Distinct values available in column Loan
df_job_status_analysis.loan.unique()

In [ ]:
CurrentLoan = pd.get_dummies(df['loan'],drop_first = True)
CurrentLoan.rename(columns={'yes':'CurrentLoan'},inplace =True)

In [ ]:
# Distinct values available in column Job
df_job_status_analysis.job.unique()

In [ ]:
# Distinct values available in column Job
df_job_status_analysis.marital.unique()

In [ ]:
marital_status = pd.get_dummies(df['marital'])
#marital_status

In [ ]:
job_type = pd.get_dummies(df['job'])
job_type.head()

In [ ]:
# Distinct values available in column y
df_job_status_analysis.y.unique()

In [ ]:
converted_y = pd.get_dummies(df_job_status_analysis['y'],drop_first = True)

In [ ]:
# Distinct values available in column Loan
df_job_status_analysis.default.unique()
default_status = pd.get_dummies(df['default'],drop_first = True)
default_status.index

In [ ]:
default_status.rename(columns={'yes':'Default_Status'},inplace =True)
#default_status

In [ ]:
# Distinct values available in column poutcome
df_job_status_analysis.poutcome.unique()

In [ ]:
# Distinct values available in column Job
df_job_status_analysis.job.unique()

In [ ]:
df.corr()

In [ ]:
# It is observed in dataframe info that few columns are of type object and few columns among them may help in 
# better prediction, so to convert them in numerical values importing OneHotEncoder
#from sklearn.preprocessing import LabelEncoder
#from sklearn.preprocessing import OneHotEncoder

In [ ]:
#label_enc = LabelEncoder()
#job_type = label_enc.fit_transform(df_job_status_analysis.job)
#one_hot_enc = OneHotEncoder(sparse=False)

In [ ]:
#src = df_job_status_analysis.job.values.reshape(len(df_job_status_analysis.job), 1)
#job_type = job_type.reshape(len(job_type),1)
#one_hot = one_hot_enc.fit_transform(job_type)

In [ ]:
#one_hot.shape

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [ ]:
#Before transforming columns

In [ ]:
#sns.pairplot(data = df,size = 1.5)
#sns.heatmap(df.corr(),annot =True)

In [ ]:
# People who are unemployed and having loans
df2 = df_job_status_analysis[df_job_status_analysis['job'] !='unemployed']
df2
df3 = df2[df2['y'] == 'no']
df3.head()

In [ ]:
#Analysis of people who are unemployed and contacted earlier and took term_deposit
unemployed_people_bought= df[df['job'] == 'unemployed']

In [ ]:
df_job_status_analysis = pd.concat([df_job_status_analysis,HousingLoan,CurrentLoan,default_status,job_type,marital_status],axis =1)
df_job_status_analysis.head()

In [ ]:
df4=pd.concat([df_job_status_analysis,HousingLoan,CurrentLoan,default_status,job_type,marital_status,converted_y],axis =1)

In [ ]:
df4.head()