In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv("D://CodingNest//Kaggle//Projects//Bank-Marketing//bank.csv",sep=';')

In [12]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [22]:
df_job_status_analysis = df[['age','marital' ,'education','housing','loan','day','job','poutcome','y']]
df_job_status_analysis.head()

   age  marital  education housing loan  day          job poutcome   y
0   30  married    primary      no   no   19   unemployed  unknown  no
1   33  married  secondary     yes  yes   11     services  failure  no
2   35   single   tertiary     yes   no   16   management  failure  no
3   30  married   tertiary     yes  yes    3   management  unknown  no
4   59  married  secondary     yes   no    5  blue-collar  unknown  no

In [31]:
df.corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.083820 -0.017853 -0.002367 -0.005148 -0.008894 -0.003511
balance   0.083820  1.000000 -0.008677 -0.015950 -0.009976  0.009437  0.026196
day      -0.017853 -0.008677  1.000000 -0.024629  0.160706 -0.094352 -0.059114
duration -0.002367 -0.015950 -0.024629  1.000000 -0.068382  0.010380  0.018080
campaign -0.005148 -0.009976  0.160706 -0.068382  1.000000 -0.093137 -0.067833
pdays    -0.008894  0.009437 -0.094352  0.010380 -0.093137  1.000000  0.577562
previous -0.003511  0.026196 -0.059114  0.018080 -0.067833  0.577562  1.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [30]:
df2 = df_job_status_analysis[df_job_status_analysis['job'] !='unemployed']
df2
df3 = df2[df2['y'] == 'no']
df3

      age   marital  education housing loan  day            job poutcome   y
1      33   married  secondary     yes  yes   11       services  failure  no
2      35    single   tertiary     yes   no   16     management  failure  no
3      30   married   tertiary     yes  yes    3     management  unknown  no
4      59   married  secondary     yes   no    5    blue-collar  unknown  no
5      35    single   tertiary      no   no   23     management  failure  no
6      36   married   tertiary     yes   no   14  self-employed    other  no
7      39   married  secondary     yes   no    6     technician  unknown  no
8      41   married   tertiary     yes   no   14   entrepreneur  unknown  no
9      43   married    primary     yes  yes   17       services  failure  no
10     39   married  secondary     yes   no   20       services  unknown  no
11     43   married  secondary     yes   no   17         admin.  unknown  no
12     36   married   tertiary      no   no   13     technician  unknown  no
14     31   married  secondary     yes  yes   29    blue-collar  failure  no
15     40   married   tertiary      no  yes   29     management  unknown  no
16     56   married  secondary      no   no   27     technician  unknown  no
17     37    single   tertiary     yes   no   20         admin.  failure  no
18     25    single    primary     yes   no   23    blue-collar  unknown  no
19     31   married  secondary      no   no    7       services    other  no
20     38  divorced    unknown     yes   no   18     management  unknown  no
21     42  divorced   tertiary      no   no   19     management  unknown  no
22     44    single  secondary      no   no   12       services  unknown  no
23     44   married  secondary      no   no    7   entrepreneur  unknown  no
24     26   married   tertiary      no   no   30      housemaid  unknown  no
25     41   married   tertiary      no   no   20     management  unknown  no
26     55   married    primary     yes   no    5    blue-collar  unknown  no
27     67   married    unknown      no   no   17        retired  failure  no
28     56   married  secondary      no  yes   30  self-employed  unknown  no
29     53   married  secondary      no  yes   21         admin.  unknown  no
31     31   married  secondary      no   no   27     technician  unknown  no
32     59   married  secondary      no   no   21     management  unknown  no
...   ...       ...        ...     ...  ...  ...            ...      ...  ..
4483   31   married  secondary     yes   no    4     technician  unknown  no
4485   53   married    primary     yes   no   11    blue-collar  failure  no
4486   37   married    primary     yes   no    9    blue-collar  unknown  no
4487   49  divorced  secondary      no   no    5   entrepreneur  unknown  no
4489   45   married   tertiary      no   no    5     management  failure  no
4490   58   married  secondary     yes   no    2         admin.  unknown  no
4491   35    single  secondary     yes   no   16    blue-collar  unknown  no
4492   32    single  secondary     yes  yes   16     technician  failure  no
4493   28    single   tertiary     yes   no    4     technician  unknown  no
4495   48   married   tertiary     yes   no   18     management  unknown  no
4496   30    single  secondary      no   no   28    blue-collar  unknown  no
4497   31    single   tertiary      no   no   20   entrepreneur  unknown  no
4498   31   married   tertiary     yes   no   27     management  unknown  no
4499   45  divorced    primary      no   no   21    blue-collar  unknown  no
4500   38   married  secondary     yes   no   12         admin.  unknown  no
4501   34   married   tertiary     yes   no   26     management  unknown  no
4502   42   married  secondary     yes  yes    5       services  unknown  no
4507   33   married  secondary     yes   no   17       services  unknown  no
4508   42   married    unknown     yes  yes   16         admin.  unknown  no
4509   51   married   tertiary      no   no   30     technician  unknown  no
4510   36  divorced  secondary     yes   no   20     technician  unknown  no
4512   40   married  secondary     yes   no   29    blue-collar  unknown  no
4513   49   married  secondary      no   no   14    blue-collar  unknown  no
4514   38   married  secondary     yes   no   20    blue-collar  failure  no
4515   32    single  secondary     yes   no    7       services  unknown  no
4516   33   married  secondary     yes   no   30       services  unknown  no
4517   57   married   tertiary     yes  yes    9  self-employed  unknown  no
4518   57   married  secondary      no   no   19     technician  unknown  no
4519   28   married  secondary      no   no    6    blue-collar    other  no
4520   44    single   tertiary     yes  yes    3   entrepreneur    other  no

[3885 rows x 9 columns]